body
{
    font-family: 'Lato', sans-serif;    
}

/* Estilos para el header */

.header__img
{
    margin-bottom: 7em;
}


/* Estilos para el container */

h1
{
    text-align: center;
    margin-bottom: 2em;
}

li
{
    margin-bottom: 1em;
}

/* Estilos para el footer */

.footer__img
{
    margin-top: 7em;
}
