*
{
    box-sizing: border-box; /*Para que ni el padding ni el borde me aumenten el tamaño definido*/
    margin: 0; /*Para eliminar el margen externo*/
}

body
{
    font-family: 'Lato', sans-serif;    
}

/* Estilos para el header */

.header__first
{
    padding: 10px 50px;
    display: flex;
    align-items: center;
}

.header__first--logo
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first__logo--img
{
    width: 70px;
}

.first__logo--name
{
    font-weight: 900;
    font-style: italic;
}

.header__first--contact
{
    margin: auto;
}

.header__menu ul
{
    background-color: rgb(42, 27, 55);
    font-weight: 800;
    letter-spacing: 1px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
}

.header__menu a
{
    color: white;
    text-decoration: none;
    display: block;
    padding: 1.5em;
}

.header__menu a:hover
{
    background-color: rgba(255, 255, 255, 0.1); /*Para que cambie el color al pasar el mouse sobre un link*/
}

.input
{
    color: white;
    font-family: 'Lato', sans-serif;
    outline: none;
    border: 2px solid white;
    border-radius: 10px ;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 4px;
}

::placeholder
{
    color: white;
}

/* Estilos para el container */

.container
{
    margin: 0 2em;
    padding: 0;
    min-height: 50vh;
    position: relative;
    min-width: -webkit-fill-available; /*Para que ocupe todo el espacio disponible en pantalla*/
}

.container__inicio
{
    margin-bottom: 2em;
    position: absolute;
    top: 2em;
}

.title
{
    text-align: center;
    padding-top: 5em;
    margin-bottom: 2em;
}

.container a
{
    color: rgb(42, 27, 55);
    text-decoration: none;
    font-weight: 900;
    padding: 1em;
    background-color: rgb(211, 213, 214);
    border: 2px solid rgb(188, 193, 196);
    border-radius: 1em;
}

.container a:hover
{
    background-color: rgba(42, 27, 55, 0.5);
}

.container__nuevo
{
    position: absolute;
    bottom: 2em;
    right: 2em;
}

/* Estilos para el footer */

.footer
{
    background-color: rgb(42, 27, 55);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
}

.footer__logo
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__logo--img
{
    width: 70px;
}

.footer__logo--name
{
    font-weight: 900;
    font-style: italic;
    letter-spacing: 1px;
    margin: 0;
}

.footer__cr
{
    display: flex;
    align-items: center;
}

.footer__cr img
{
    width: 15px;
    height: 15px;
}